body{
  background: url(../img/creative-725811_1920.jpg);
  background-size: cover;
  margin: 50px;
  font-family: cursive;
  color: black;
  text-align: center;
}
div.parrafo{
  width:800px ;
  display: block;
}