body{
  background: url(../img/creative-725811_1920.jpg);
  background-size: cover;
  margin: 50px;
  font-family: cursive;
  color: black;
  text-align: center;
}
h1{
  display:block;
}
div.caja1{
  background: seashell;
  width:600px ;
  height:700px;
  display:inline-block;
  text-align:justify;
}
div.caja2{
  background: silver;
  width: 600px;
  height: 700px;
  display: inline-block;
  text-align: right;
}