body{
  background: url(../img/creative-725811_1920.jpg);
  background-size: cover;
  margin: 50px;
  font-family: cursive;
  color: black;
  text-align: center;
}
h1{
  display:block;
}
div.caja1{
 
  width:600px ;
  height:700px;
  display:inline-block;
  text-align:justify;
  padding:10px ;
}
div.caja2{
  background: rgba(192, 192, 192, 0.589);
  width: 600px;
  height: 700px;
  display: inline-block;
  text-align: center;
}