body{
  background: url(../img/creative-725811_1920.jpg);
  background-size: cover;
  font-family: cursive;
  color: black;
  text-align: center;
  margin: 50px 50px;
}
h1{
  color:black;
  text-align: center;
}
p{
 color: black; 
 display: block;
 text-align: left;
}
h2{
  color: red;
}
img{
  width:800px ;
  height: 500px;
}