body{
  background: url(../img/fondo.jpg);
  margin: 40px;
  text-align: justify;
}
header{
  color: darkblue;
  text-align: center;
}
menu{
  text-align: right;
}
.menu1 li {
  display: inline-block;
  background-color: rgb(138, 168, 238);
  padding: 10px;
  color: aliceblue;
 
}
.menu1 li a{
  display: inline-block;
  background-color: rgb(138, 168, 238);
  padding: 10px;
  color: aliceblue;
 
}
b{
  font-size: x-large;
}
/*  */